.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 280px;
    min-width: 290px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.455);
    border-radius: 16px;
    margin-top: 5%;
    margin-left: 2%;
    border: none;
}

.row-buttons-qty {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.row-buttons-qty button {
    cursor: pointer;
    color: white;
    background-color: rgb(27, 27, 96);
    border: none;
    border-radius: 20px;
}

.add-to-cart-button {
    width: 90%;
    height: 35px;
    border-radius: 300px;
    border: none;
    background-color: rgb(29, 29, 102);
    color: white;
    cursor: pointer;
}

.add-to-cart-button:disabled {
    border: none;
    background-color: rgba(29, 29, 102, 0.536);
    color: white;
    cursor: not-allowed;
}

.img-product {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-product img {
    width: 90%;
    background-size: contain;
    border-radius: 7px;
}

.info-product {
    width: 60%;
    padding-left: 5%;
}