.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}

.header-container h1,
.header-container p {
    color: rgb(25, 25, 88);
}

.header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-container nav p {
    cursor: pointer;
}